
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.side-bar-container {
  display: flex;
}

.sidebar {
  position: fixed;
  left: 20px;
  top: 30px;
  width: 100px;
  height: calc(100vh - 70px);
  background-color: rgb(228, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border-radius: 40px;
}

.sidebar ul {
  padding: 0; /* Remove padding from the ul */
  margin: 0; /* Remove margin as well */
}

.sidebar li {
  list-style: none;
  margin: 30px 0 0 0;
  color: #F4C21C;
  font-size: 24px;
}

.sidebar img {
  width: 70px;
  height: 70px;
}
.flex-1.flex.items-center {
  margin-left: 800px;
}

.flex-1.flex.items-center .relative {
  width: 100%; /* Ensures the container takes full width */
}
.flex-1.flex.items-center > .absolute {
  
}
.flex-1.flex.items-center > .relative > input {
  font-family: "Poppins", sans-serif;
  width: 200px; /* Full width of the container */
  height: 20px; /* Height of the input field */
  border-radius: 20px; /* Rounded corners for the input element */
  padding: 10px; /* Padding inside the input field */
  padding-left: 20px; /* Additional padding to make space for the icon */
  border-radius: 40px
}
.sign-up-button {
  width: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: #F4C21C; 
  color: white;
  padding: 10px;
  border-radius: 30px;
  outline: none;
}
